@functions
{
}
@functions{
    Html
}


@helper Heading(string text)
{
    <h2 id="@MakeID(text)" class="content-subhead"><a href="#@MakeID(text)">@text</a></h2>
}
@helper SubHeading(string text)
{
    <h3 id="@MakeID(text)" class="content-subhead"><a href="#@MakeID(text)">@text</a></h3>
}
@helper NavPage(string title)
{
    <li @(String.Equals(Page.Title,Helper.GetPage(title))?"class='pure-menu-selected'":"")><a href="@(GetURL(title))">@title</a></li>
}
@helper NavOption(string title, string url)
{
    <li class="pure-menu-selected"><a href="@url">@title</a></li>
    @*<li @(String.Equals(Page.Title,title)?"class='pure-menu-selected'":"")><a href="@(title)">@title</a></li>*@
}