<h1>Experience</h1>
{{#each model}}
<div class="experience page">
	<h2>{{name}}</h2>
	<p><em>{{location}}</em></p>
	<p><strong>{{title}}</strong></p>
	<p>{{description}}</p>
	<details open>
		<summary>More details:</summary>
		<h3>Technologies Used:</h3>
		<ul class="two-col">
		{{#each tech}}
			<li>{{name}}</li>
		{{/each}}
		</ul>
		<h3>Responsibilities:</h3>
		<ul class="two-col">
		{{#each respon}}
			<li>{{text}}</li>
		{{/each}}
		</ul>
		{{#if accom}}
			<h3>Accomplishments:</h3>
			<ul class="two-col">
			{{#each accom}}
				<li>{{{text}}}</li>
			{{/each}}
		{{/if}}
		</ul>
	</details>
</div>
{{/each}}